<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <p>Dear <%= name %>,</p>
    <p>Welcome to PassMe Point! We’re thrilled to have you onboard and excited to help you enhance customer loyalty through our platform.</p>
    <p>Here are the login details for your company account:</p>
    <ul>
        <li><p>Username : <%= username %></p></li>
        <li><p>Password : <%= password %></p></li>
        <li><p>QR : Please download from attachment</p></li>
    </ul>
    <p>You can log in to your account at any time by visiting https://passmepoints.com/login .</p>
    <p>With PassMe Point, you’ll have all the tools you need to create an easy and effective loyalty program for your customers. If you have any questions or need assistance, feel free to reach out to our support team at info@buypassme.com .</p>
    <p>We’re here to ensure your success and look forward to working with you.</p>
    <footer>
        <p>Best regards,</p>
        <p>PassMe Point Team</p>
    </footer>
</body>
</html>
