<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <p>Dear <%= name %>,</p>
    <p>Welcome to PassMe Point! We’re thrilled to have you join us and look forward to helping you create a seamless loyalty experience for your customers.</p>
    <p>Here are your account details:</p>
    <ul>
        <li><p>Username : <%= username %></p></li>
        <li><p>Password : <%= password %></p></li>
    </ul>
    <p>You can log in to your account at any time by visiting https://passmepoints.com/login .</p>
    <p>To make your loyalty program even more efficient, here is your personalized QR code. Use this code to share with your merchant whenever they need to add or redeem points:</p>
    <p>We’re here to ensure your success and look forward to working with you.</p>
    <p>This QR code makes the process quick and hassle-free.</p>
    <p>If you have any questions or need assistance, feel free to contact us at info@buypassme.com . We’re here to help every step of the way.</p>
    <footer>
        <p>Best regards,</p>
        <p>PassMe Point Team</p>
    </footer>
</body>
</html>
