<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <p>Dear <%= name %>,</p>
    <p>We have received a request to verify your identity. For your security, please use the following One-Time Password (OTP) to complete the process:</p>
    <h3>*Your OTP is: <%= otp%>*</h3>
    <p>Please note that this OTP is valid for [time duration, e.g., 3 minutes]. If you did not initiate this request, please disregard this email or contact our support team immediately.</p>
    <p>For your safety, never share your OTP with anyone, and always ensure you're on a trusted platform when entering the code.</p>
    <p>Thank you for choosing </p>
    <footer>
        <p>The Pointbox Team,</p>
        <p>info@buypassme.com</p>
    </footer>
</body>
</html>
